body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f6ff;
}

header {
    background: #0f2c69;
    color: white;
    padding: 20px 50px;
    text-align: center;
}

nav {
    background: #163b88;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 15px;
}

.hero {
    text-align: center;
    padding: 70px 20px;
    background: url("https://images.unsplash.com/photo-1569025696016-e1ae4e89c117") no-repeat center/cover;
    color: white;
}

.hero h1 {
    font-size: 45px;
    text-shadow: 0px 0px 5px black;
}

.section {
    padding: 60px 10%;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.card {
    width: 280px;
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.15);
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 40px;
}
